@import 'UI/scss/_globals';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  letter-spacing: 1px;
}

input, textarea {
  padding: 10px;
  font-size: 1.1em;
  line-height: 2em;
  vertical-align: middle;
  border: 2px solid $colors-light;
  border-radius: 10px;
}

input {
  height: 2em;
}

textarea {
  letter-spacing: 0;
}

input[type="number"] {
  width: 3em;
  line-height: 2.5em;
  padding-right: 0;
  text-align: right;
}

.clear {
  display: block;
  float: none;
  clear: both;
}

.height-100 {
  height: 100%;
}

.row {
  display: flex;

  &.stacked,
  &.stacked ~ .row {
    margin-bottom: 20px;
  }
  
  > * {
    box-sizing: border-box;
    flex: 0 1 100%;
  }
  
  &.two-col > * {
    flex-basis: 50%;
  }
  
  &.three-col > * {
    flex-basis: 33.33%;
  }
}

#app {
  > div {
    height: 100%;
  }

  color: $colors-dark;
  font-family: Courier, Arial;
  background-color: $colors-light;

  #content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 48px;
    overflow: hidden;
  
    > div {
      height: 100%;
    }
  }
}



