* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.clear {
  display: block;
  float: none;
  clear: both;
}

.height-100 {
  height: 100%;
}

#app {
  > div {
    height: 100%;
  }

  color: #3F3F3F;
  font-family: Courier, Arial;
  background-color: #eaeaea;
}

#content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin-left: 48px;
  //Needed so the content fits in the bounds
  //with the margin set.
  padding-right: 48px;
  overflow: hidden;

  > div {
    height: 100%;
  }
}

#monitor {  
  > * {
    float: left;
  }
}